$button1Color : 290deg;
$button2Color : 290;
$button3Color : 115deg;

.menuBody
{
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    background: #050801;
}

.neonLink
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 10px linear-gradient(
        transparent,#0005 );
}
.button1
{
	filter: hue-rotate($button1Color);
}
.button2
{
	filter: hue-rotate($button2Color);
}
.button3
{
	filter: hue-rotate($button3Color);
}
.neonLink:hover
{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
				0 0 200px #03e9f4;
}

@keyframes heart
{
    0%
    {
		
		box-shadow: 0 0 1px #03e9f4,
                0 0 1px #03e9f4,
                0 0 1px #03e9f4,
				0 0 2px #03e9f4;
        
    }
    50%,100%
    {
		box-shadow: 0 0 5px #03e9f4,
		0 0 25px #03e9f4,
		0 0 50px #03e9f4,
		0 0 200px #03e9f4;
    }
}


.neonLink span
{
    position: absolute;
    display: block; 
}
.neonLink span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
	animation: animate6 2s linear infinite;
	animation-delay: 0.5s;;
    
}
$randomcolor1 : random(360) + deg;
$randomcolor2 : random(360) + deg;
@keyframes animate6
{
    0%
    {
		filter: hue-rotate(-random(360) + deg);
        left: -100%;
    }
    50%,100%
    {
		filter: hue-rotate(random(360) + deg);
        left: 100%;
    }
}
.neonLink span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 2s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
		top: -100%;
		filter: hue-rotate(- random(360) + deg);
    }
    50%,100%
    {
		top: 100%;
		filter: hue-rotate(random(360) + deg);
    }
}
.neonLink span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate3 2s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
		right: -100%;
		filter: hue-rotate(- random(360) + deg);
    }
    50%,100%
    {
		right: 100%;
		filter: hue-rotate( random(360) + deg);
    }
}
.neonLink span:nth-child(4)
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate4 2s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
		bottom: -100%;
		filter: hue-rotate(- random(360) + deg);
    }
    50%,100%
    {
		bottom: 100%;
		filter: hue-rotate(random(360) + deg);
    }
}



