.unityPageBody
{
    background: #050801;
    background-image: url('./unity.png');
    background-repeat: no-repeat;
    background-position: center ;
    animation: bodyAnimate linear; 
     animation-duration: 1s;
     animation: bodyOverflow 3s;
  }
  @keyframes  bodyAnimate {
 
     0%
     {
        
         opacity: 0;
         /* transform: rotateX(360deg); */
     }
     50%
     {
        
     }
     100%
     {
         opacity: 1;
        
     }
}

@media screen and (max-width : 900px) {
.unityPageBody .menuBar    {
        display: none;
    }
}

@media screen and (max-width:1000px) {

    .unityPageBody .modal
    {
       //height: 300px;
    }

    .unityPageBody .modal-content
{
    
    width: 350px;
    height: 200px;
    

}
.unityPageBody .player
{
    width: 350px;
    height: 200px;
    border-radius: 10px;
    margin: 0;
}
}